* {
  box-sizing: border-box;
  /* border: red thin solid; */
}

#header {
  background-color: #3a3934;
  position: relative;
  height: 30px;
}

#header:after {
  content: "";
  clear: both;
  display: inline-table;
}


.header-text {
  position: absolute;
  display: inline-block;
  color: white;
  right: 100px;
  margin-top: 5px;
  /* margin-bottom: 10px; */
}

.header-login {
  color: white;
  border-right: thin black;
  background-color: #36b44a;
  padding: 5px;
  padding-bottom: 6px;
}

.menu {
  background-color: white;
}

.menufoto {
  height: 50px;
}

.menu li {
  display: inline-block;
}

.menutext {
  padding-right: 20px;
  margin-top: -10px;
}

.menuright{
  text-align: right;
}

.menu li:hover {
  color: #36b44a;
}

.logo {
  position: absolute;
  top: 40px;
  left: 15px;
}

.menu-title1 {
  position: absolute;
  font-size: 40px;
  top: 10px;
  left: 65px;
  color: #36b44a;
  font-family: 'Ubuntu', sans-serif;
}

.menu-title2 {
  position: absolute;
  font-size: 40px;
  top: 10px;
  left: 100px;
  color: black;
  font-family: 'Ubuntu', sans-serif;
}
